body{
    margin: 0;
    padding: 0;
}
.canvasContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    /* background-color:orange; */
}

.large{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: orange;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /* align-self: center; */
}
.large>p{
    padding:10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.midExpandedContainer{
    visibility: hidden;
    /* justify-content: center;
    align-items: center; */
    width: 500px;
    height: 500px;
    /* background-color: #90e0ef; */
    position: relative;
    z-index: 300;
}

.cancelCoreView{
    width: 30px;
    height:30px;
    padding: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 300;
}

.cancelCoreView>a>img{
    width: 100%;
    height: 100%;
}
.midComponentContainer{
    width: 100%;
    height: 100%;
    /* position: absolute; */
    border-radius: 20px;
    top: 0;
    left: 0;
    /* background: rgba(255, 255, 255, 0.01); */
    background-color: rgb(144, 224, 239,0.3);
    /* z-index: 100; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.mid{
    height: 100px;
    width: 100px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
}

.child1{
    /* Just for testing purposes */
    background-color: black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 225px;
    cursor: pointer;
}
